*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}

main{
    max-width: 90%;
    margin: auto;
    min-height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 24px;
}
li{
    list-style: none;
    margin: 0 12px;
}

/* Banner Principal*/
.container_bannerPrincipal{
    position: relative;
}
.floral1, .floral2, .floral3, .floral4, .Shape, .Shape-1, .Brush{
    position: absolute;
}
.floral1, .Shape{
    left: 0;
    top: 0;
}
.floral2{
    left: 10%;
    bottom: 20%;
}
.floral3, .Brush{
    bottom: 0;
    right: 0;
}
.floral4, .Shape-1{
    top: 24px;
    right: 0px;
}
.content_banner, .img_banner{
    max-width: 50%;
    margin: auto;
}
.img_banner{
    text-align: center;
    margin: 12px;
}
.content_banner{
    margin: 12px;
    animation: right-to-left 1s;
}
.content_banner h1, .content_join_us h1{
    font-size: 5em;
    color: rgba(0, 0, 0, 0.8);
    width: 80%;
    margin-bottom: 24px;
}
.content_banner p , .content_join_us p{
    font-size: 2em;
    line-height: 32px;
    color: gray;
    width: 80%;
    margin: 24px 0px;
}
.container_banner{
    min-height: 85vh;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* Section 02 */
.container_02{
    position: relative;
    max-width: 90%;
    margin: auto;
    min-height: 800px;
}
.container_02 img{
    position: absolute;
    top: 0;
    left: 0;
}
.content_02{
    position: absolute;
}
.img-02{
    z-index: 4 ;
    width: 100%;
    max-height: 800px;
}
.content_02{
    top: 0px;
    left: 48px;
    z-index: 5;
    min-height: 800px;
    display: flex;
    flex-direction: column;
}
.container_02 h1{
    font-size: 5em;
    color: rgba(0, 0, 0, 0.8);
    width: 50%;
    margin-top: 10%;
    margin-bottom: 24px;
}

.container_02 p{
    font-size: 1.8em;
    line-height: 32px;
    color: gray;
    width: 50%;
    margin: 24px 0px;
}

/* Section Atividades */
.container_atividades{
    max-width: 90%;
    margin: 0 auto;
    min-height: 600px;
    display: flex;
    align-items: center;
}
.cards_atividades{
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 100px auto;
}

.card_atividade{
    margin: 0 100px;
    text-align: center;
    flex: 1 1 200px;
}
.card_atividade img{
    margin: 12px;
}
.card_atividade h2{
    font-size: 32px;
    color: rgba(0, 0, 0, 0.7);
    margin: 12px 0;
}
.card_atividade p{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.6);
    margin: 12px 0;
}
.containers_learn{
    max-width: 90%;
    margin: auto;
    position: relative;
}   
.img_learn, .content_learn{
    flex: 1;
}
.container_learn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px 0;
}
.content_learn, .img_learn{
    width: 50%;
    margin: auto;
}
.containers_learn{
    position: relative;
}
.content_learn{
    max-width: 90%;
    margin: auto;
}
.content_learn h1{
    font-size: 5em;
    color: rgba(0, 0, 0, 0.8);
    margin: 10% 48px 24px 48px;
}

.content_learn p{
    font-size: 1.8em;
    line-height: 32px;
    color: gray;
    margin: 24px 48px 24px 48px;
}
.img_learn{
    text-align: center;
    position: relative;
}
._img_learn{
    z-index: auto;
    width: 90%;
}
.object{
    position: absolute;
}
.Shape-2{
    left: 0%;
    top: -100px;
}
.Floral-5{
    left: 1%;
    top: -100px;
}
.Floral-6{
    left: 1%;
    bottom: -90px;
}
.Floral-9{
    bottom: -40px;
    left: 20px;
}
.brush-1{
    bottom: -150px;
    left: 0%;
}
.brush-2, .Floral-7{
    left: 0%;
    top: -40px;
    z-index: -1;
}
.Shape-3{
    bottom: -40px;
    right: 20px;
}
.brush-3{
    bottom: -40px;
    right: 0px;
    transform: rotate(155deg);
}
.Shape-4, .Floral-8{
    right: 10px;
    top: -40px;
    z-index: -1;
}


/* Container Join Us*/

.container_join_us{
    display: flex;
    max-width: 90%;
    margin: 0px auto;
    flex-wrap: wrap;
    padding: 100px 0px;
    background-color: #efefef;
}
.img_join_us, .content_join_us{
    width: 50%;
    flex: 1 1 600px;
}
.content_join_us{
    padding: 48px;
    flex-wrap: wrap;
}

.content_join_us h1{
    font-size: 5em;
    color: rgba(0, 0, 0, 0.8);
    width: 100%;
    margin-bottom: 24px;
}
.content_join_us p{
    font-size: 2em;
    line-height: 32px;
    color: gray;
    width: 100%;
    margin: 24px 0px;
}





/* Medias */
@media (max-width: 1440px){
    body{
        background-color: rgba(0, 0, 0, 0.9);
    }
    /* Container Banner Principal*/
    .content_banner, .img_banner{
        max-width: 70%;
        margin: auto;
    }
    .content_banner{
        margin: 24px 0;
    }
    .content_banner h1{
        font-size: 4.5em;
    }
    /* Section 02*/
    .floral2{
        left: 2%;
        bottom: 10%;
    }
    .container_02{
        max-width: 100%;
    }
    .content_banner h1, .container_02 h1{
        font-size: 4.5em;
        margin-top: 6%;
    }
    .content_banner p, .container_02 p{
        font-size: 2em;
    }
    .card_atividade p{
        margin-bottom: 48px;
    }
    .container_learn{
        flex-direction: column;
    }
    .content_learn, .img_learn{
        width: 80%;
        margin: 48px auto;
    }
    .Shape-3{
        bottom: -40px;
        right: 10px;
    }
    .brush-3{
        bottom: -40px;
        right: -40px;
    }
    .img_join_us{
        margin: 48px;
    }

}

@media (max-width: 1024px){

    body{
        background-color: rgba(0, 0, 0, 0.6);
    }
    /* Container Principal*/
    .content_banner h1{
        font-size: 3.8em;
    }
    .container_banner p{
        font-size: 1.3em;
    }
    
    .object{
        max-width: 20%;
    }
    .floral2{
        left: 0%;
        bottom: 5%;
    }


    /* Container 02*/
    
    .img-02{
        width: 100%;
        height: 60%;
    }
    .container_02 h1{
        font-size: 3.5em;
        width: 60%;
        margin-bottom: 10px;
    }
    .container_02 p{
        font-size: 1.6em;
        width: 50%;
        margin-top: 0px;
    }

    /* Container Atividades */
        
    /* Container Join us*/

    .content_join_us h1{
        font-size: 4em;
    }
    

   
}
@media (max-width: 800px){
    body{
        background-color: red;
    }
    .container_02 h1{
        font-size: 3em;
    }
    .container_02 p{
        font-size: 1.4em;
    }
    .content_join_us h1{
        font-size: 3.5em;
    }
}

@media (max-width: 600px){
    body{
        background-color: blue;
    }
    .container_02 h1{
        font-size: 2.4em;
    }
    .container_02 p{
        font-size: 1.3em;
    }
    .content_join_us h1{
        font-size: 3em;
    }
}



@keyframes right-to-left {
    0% {
        transform: translateX(50%);
        opacity: 0.5;
    }    
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}